/* Form Container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
  }
  
  /* Form Inputs */
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
  background-color: #1e1e1e;    
  margin-top: 2rem;
  }
  
  /* Submit Button */
  .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #173a60;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Error Messages */
  .error {
    color: rgba(230, 0, 0, 0.656);
    font-size: 14px;
    margin-bottom: 10px;
  }

  .valid-input{
    color: green;
  }
  
  .is-valid{
    color: green;
    /* border-bottom: 2px solid green; */
  }
  .is-invalid{
    color: red;
    border-bottom: 2px solid red;
  }

  
  /* Success Message */
  .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: none;
    text-align: center;
    font-weight: bold;
  }
  
  .success-message.show {
    display: block;
  }
  
