

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}



:where(p) {
  max-inline-size: none; 
}


input {
  outline-offset: 1px;
}

html a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);  
}

html a:hover{
  color: white;
  text-decoration: underline 1px solid white;
}

 body
{
  font-family: Inconsolata, sans-serif;
  font-weight: 300;
  background-color: #1e1e1e;
  line-height: 1;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}





body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline-offset: 1px;
}

:where(:not(:active):focus-visible) {
  outline-offset: 1px;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}
